<!doctype html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/litera/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-D/7uAka7uwterkSxa2LwZR7RJqH2X6jfmhkJ0vFPGUtPyBMF2WMq9S+f9Ik5jJu1" crossorigin="anonymous">

    <!-- footer css -->
    <link rel="stylesheet" href="{% static 'css/index/footer.css' %}">

    <title>{% block title %}{% endblock title %}| TBS</title>
    {% block head %} {% endblock %}
</head>

<body>

<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-primary bg-light">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index:index' %}">TBS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            {#        <ul class=" nav navbar-nav mr-auto">#}
            {#            <li class="nav-item">#}
            {#                <a class="nav-link" href="#">Features</a>#}
            {#            </li>#}
            {#            <li class="nav-item">#}
            {#                <a class="nav-link" href="#">Sign in</a>#}
            {#            </li>#}
            {#            <li class="nav-item">#}
            {#                <a class="nav-link" href="#">About</a>#}
            {#            </li>#}
            {#        </ul>#}
            <ul class="nav navbar-nav ml-auto">

                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{% url 'user:logout' %}" class="btn btn-danger">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="btn btn-primary" href="{% url 'user:register' %}">Sign Up</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-tertiary" href="{% url 'user:login' %}">Login</a>
                    </li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>

<!-- alerts -->
{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success' %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

        {% elif message.tags == 'error' %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

        {% elif message.tags == 'warning' %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

        {% elif message.tags == 'info' %}
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}

{% block body %}

{% endblock %}

<!-- footer -->
<div class="mt-5 pt-5 pb-5 footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-xs-12 about-company">
                <h2>Heading</h2>
                <p class="pr-5 text-white-50">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac ante
                    mollis quam tristique convallis </p>
                <p><a href="#"><i class="fa fa-facebook-square mr-1"></i></a><a href="#"><i
                        class="fa fa-linkedin-square"></i></a></p>
            </div>
            <div class="col-lg-3 col-xs-12 links">
                <h4 class="mt-lg-0 mt-sm-3">Links</h4>
                <ul class="m-0 p-0">
                    <li>- <a href="#">Lorem ipsum</a></li>
                    <li>- <a href="#">Nam mauris velit</a></li>
                    <li>- <a href="#">Etiam vitae mauris</a></li>
                    <li>- <a href="#">Fusce scelerisque</a></li>
                    <li>- <a href="#">Sed faucibus</a></li>
                    <li>- <a href="#">Mauris efficitur nulla</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-xs-12 location">
                <h4 class="mt-lg-0 mt-sm-4">Location</h4>
                <p>22, Lorem ipsum dolor, consectetur adipiscing</p>
                <p class="mb-0"><i class="fa fa-phone mr-3"></i>(541) 754-3010</p>
                <p><i class="fa fa-envelope-o mr-3"></i>info@hsdf.com</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col copyright">
                <p class=""><small class="text-white-50">© 2019. All Rights Reserved.</small></p>
            </div>
        </div>
    </div>
</div>

<!-- script -->
<script defer src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
{% block script %}
{% endblock %}
</body>
</html>